<h1 class="app-page-title">Editar Solicitante</h1>
<hr class="mb-4">
<div class="row g-4 settings-section">
  
    <div class="col-12 col-md-8">
        <div class="app-card app-card-settings shadow-sm p-4">

            <div class="app-card-body">
                <form [formGroup]="form" (ngSubmit)="submit()" class="settings-form">
                        <div class="mb-3">
                            <label for="setting-input-2" class="form-label">Nombre</label>
                            <input formControlName="nombre" id="nombre" type="text" [(ngModel)]="solicitante.nombre" class="form-control">                        </div>
                        <div class="mb-3">
                            <label for="setting-input-2" class="form-label">Documento</label>
                            <input formControlName="documento" id="documento" type="number" [(ngModel)]="solicitante.documento" class="form-control">
                            <!--<div *ngIf="f.documento.touched && f.documento.invalid" class="alert alert-danger">
                                <div *ngIf="f.documento.errors?.required">Documento requerido.</div>
                            </div>-->
                        </div>
                        <div class="mb-3">
                            <label for="setting-input-2" class="form-label">Direccion</label>
                            <input formControlName="direccion" id="direccion" type="text" [(ngModel)]="solicitante.direccion" class="form-control">
                            <!--<div *ngIf="f.direccion.touched && f.direccion.invalid" class="alert alert-danger">
                                <div *ngIf="f.direccion.errors?.required">Direccion requerido.</div>
                            </div>-->
                        </div>
                        <div class="mb-3">
                            <label for="setting-input-2" class="form-label">Telefono</label>
                            <input formControlName="telefono" id="telefono" type="text" [(ngModel)]="solicitante.telefono" class="form-control">
                            <!--<div *ngIf="f.telefono.touched && f.telefono.invalid" class="alert alert-danger">
                                <div *ngIf="f.telefono.errors?.required">Telefono requerido.</div>
                            </div>-->
                        </div>
                        <div class="mb-3">
                            <label for="setting-input-3" class="form-label">Servicio_id</label>
                            <input formControlName="servicio_id" id="servicio_id" type="number" [(ngModel)]="solicitante.servicio_id" class="form-control">
                            <!--<div *ngIf="f.servicio_id.touched && f.servicio_id.invalid" class="alert alert-danger">
                                <div *ngIf="f.servicio_id.errors?.required">Servicio_id es requerido.</div>
                            </div>-->
                        </div>
                        <a href="#" routerLink="/solicitante/index" class="btn app-btn-secondary  mx-1 ">Cancelar</a>
                        <button type="submit" class="btn app-btn-primary" [disabled]="!form.valid">Actualizar</button>
                </form>
            </div>
            <!--//app-card-body-->

        </div>
        <!--//app-card-->
    </div>
</div>
<!--//row-->
